* {
    box-sizing: border-box;
}
* {
  font-size: 18px;
  fontColor: grey;
}
img {
  fontColor: grey;
}
.top {
display: flex;
flex-direction: column;
}
.dashAll {
display: flex;
flex-direction: column;

}
.dashboard-search_box,
.search-bar {
  display: flex;
 justify-content: space-between;
padding-bottom: 10;
}
.row {

  width: 95%;
  margin: auto;
}
.body {
  display: flex;
flex-direction: column;
}

.switch-toggle.switch-ios  {
  display: flex;
    width: 20%;
    height: 35px;
    float: right;

}
.switch-ios.switch-ios  {
  background-color: white;

}
.switch-toggle.switch-ios:focus label{
  color: white;
}
/* alert bar*/
.alert {

width: 100%;
  margin: 10px;
  border-radius: 5px;
    padding: 10px;
    background-color: rgba(99, 99, 196, 0.8);
    color: white;

}

.primary-container {
display: flex;
  flex-direction: row;
  padding-left: 20px;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

.icon-bar {
  display: flex;
  justify-content: flex-end;
  top: 0;
    width: 100%;
    height: 55px;
    background-color: rgba(99, 99, 196, 0.8);
    overflow: hidden;
}
.bell, .pic, .name, .line {
  align-self: center;
  margin: 10px;
}
.line {
  border-left: 2px solid #9da99b;
  height: 45px;
}
p {
  color: rgba(99, 99, 196, 0.8);
}
#top-name {
  color: white;
}
.bell {

  width: 20px;
  height: 20px;
}

.img-circle {

  width: 40px;
  height: 40px;
  border-radius: 50%;
}
h1 {
  margin-right: auto;
  font-size: 15px;
  font-family: roboto;
  text-align: left;
  margin-left: 10px;
  color: white;
  text-decoration: none;
}
h2 {
  color: grey;
  font-size: 20px;
  font-family: roboto;
  display: inline;

}
h4 {
  margin: 0 auto;
  color: grey;
  font-size: 18px;
  font-family: roboto;
}

.vertical-menu {
width: 45px;

background-color: #524668;
/*justify-content: center;
flex-direction: row;
*/}

.item {
  align-self: center;
}

.item img {
  height: 25px;
  width: 25px;
  margin: 10px;
}

.chart1 {
  width: 100%;
  margin: 15px auto;
  margin-left: 10px;
    border: 1px solid lightgrey;

  }
.line-chart {

  width: 100%;
  margin: 10px auto;
  margin-left: 10px;
  border: 1px solid lightgrey;
}
.doughnut-chart1 {
  width: 50%;
  margin: 10px auto;
  float: right;
  border: 1px solid lightgrey;

}

/* social Stats
*/
.social-stats {




  margin-bottom: 20px;
}
.twitter,
 .facebook,
 .google {
  display: flex;
  border: 0.80px solid lightgrey;
  background-color: #f4f2f2;
  padding: 40px 70px;
  padding-left: 10;
  margin: 10px;
}
svg {
  width: 55px;
  height: 35px;
  z-index: 1;
  margin-top: 15px;
  fill: white;
}
.circle {
  height: 60px;
  width: 60px;
  background-color: rgba(99, 99, 196, 0.8);
  border-radius: 100%;
  text-align: center;
}
#pIcons{
  margin: 0;
  display: inline;
  color: #535058;
padding-top: 20;
padding-right: 20;
font-size: 40px;


}
#socialHeading {
  color: rgba(99, 99, 196, 0.8);
  display: inline-block;
  margin: 0;
padding: 0;
}
/* members */
#member-activity {
  color: rgba(99, 99, 196, 0.8);
  }


.members-container {
display: flex;
flex-direction: column;
width: 50%;
}
.activity-widget {
  display: flex;
  flex-direction: column;
  width: 50%;
  float: right;
  height:auto;
padding-left: 15;

  border-right: 5;
  border-right-color: lightgrey;

  border-top-color: rgb(145,143,143);

  border-top: 2px solid rgb(145, 143, 143);
  border-bottom: 2px solid rgb(145, 143, 143);
  margin-top: 25px;
}
.activity-widget h1,
.members-block h1 {
  color: rgba(99, 99, 196, 0.8);
}
.activity-widget h1{
  padding-top: 15;
  border-top: 10;
  border-top-color: lightgrey;
}
.members-block {
float:left;
width: 100%;
}

.member:last-child {
  border-bottom: none;
}

.member-wrapper {

width: 100%;
  display: inline-block;
  margin: 0 4%;

padding: 2.5% 0;
  border-bottom: .9px solid rgb(178, 178, 178);
}

.member-wrapper_profile {
  float: left;

}

.member-wrapper_profile img {
    width: 35px;
    height: 35px;
    margin: 0 10px;
    border-radius: 50%;
}

.member-info {
    float: right;
}
.member-information .member-profile_email,
.member-information .members-recent_activity {
    font-size: 14.4px;
    line-height: 1px;
}

.member-information
.member-profile_email {

    color: rgb(111, 115, 186);
}

.members-recent_activity{
  color: rgb(111, 115, 186);
}

.sign-up_date,
.arrow {
    float: right;
    margin-right: 10px;
    color: rgb(111, 115, 186);
}
.arrow {
    font-size: 32px;
}

.arrow:hover {
  cursor: pointer;
}

/* wrapper search */





@media only screen (min-width:320px) {

}

@media only screen (min-width:768px) {

}

@media only screen (min-width:1024px) {
 }
 /* CALC STYLES */


   @media (min-width: 768px) {

     [class^="col-"] {
     float: left;
       padding: 0 1rem;
     }

   .col-1 {
     width: calc(100% / 12);
   }
   .col-2 {
     width: calc(100% / 12 * 2);
   }
   .col-3 {
     width: calc(100% / 12 * 3);
   }
   .col-4 {
     width: calc(100% / 12 * 4);
   }
   .col-5 {
     width: calc(100% / 12 * 5);
   }
   .col-6 {
     width: calc(100% / 12 * 6);
   }
   .col-7 {
     width: calc(100% / 12 * 7);
   }
   .col-8 {
     width: calc(100% / 12 * 8);
   }
   .col-9 {
     width: calc(100% / 12 * 9);
   }
   .col-10 {
     width: calc(100% / 12 * 10);
   }
   .col-11 {
     width: calc(100% / 12 * 11);
   }
   .col-12 {
     width: calc(100% / 12 * 12);
   }
  }

  .members-container {
      border-top: 2px solid rgb(145, 143, 143);
      border-bottom: 2px solid rgb(145, 143, 143);
      margin-top: 25px;
      float: left;
  }


  .settings-widget {
      width: 50%;
  }

  .members-block,
  .messages-container {
      float: left;
  }
